<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <title>Chatrrr</title>
</head>
<body>
        {% include 'navbar.html' %}
        <main id="main">
        {% if messages %}
        <div class="window">
            <div class="window__title">Error</div>
            <div class="window__content">
                <ul class="error-messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>